/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Lato', 'Helvetica', Arial !important;
  background: url('/img/blizzard.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
	border-radius: 0;
	text-decoration: none;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #522E91;
	color: #000 !important;
	background-color: transparent !important;
}

.top-tr {
	background-color: #D9F7CC;
}

.top-tr:hover > td {
	background-color: #C7ECC2 !important;
}

td {
	padding-top: 18px !important;
	padding-bottom: 18px !important;
  vertical-align: middle !important;
}

table, form {
  font-family: 'Oxygen' !important;
}

.label {
  display: inline-block !important;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  font-family: 'Lato', 'Arial' !important;
}

.home {
  color: rgb(60, 60, 60) !important;
}

.home:hover{
  text-decoration: none !important;
  color: rgb(60, 60, 60) !important;
}

.nav-pills > li > a{
    border-radius:0px;
    color: gray;
    font-weight: 300;
}

h3 {
	font-family: 'Oxygen', Arial !important;
  margin-bottom: 35px !important;
  margin-top: 35px !important;
  font-size: 28px !important;
}

table a {
	color: #3272AD;
}

table a:hover {
  color: #134B7E;
  /*color: #522E91;*/
  /*text-decoration: none;*/
}

.container {
	max-width: none !important;
	width:850px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* ignore this line */
.container { margin:30px; }